<nav class="navbar fixed-top container-fluid">
  <div class="nav-all">
    <div class="nav-content">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><strong>{{ title }}</strong></a>
      </div>

      <div class="nav-search" id="navbar-search">
        <input type="search" class="searchInputArea" aria-label="Search" placeholder="Search">
        <!--<button type="submit" class="btn btn-primary">Sourch</button>-->
      </div><!-- /.navbar-collapse -->

      <div class="nav-account pull-right">
        <a id="userName" href="#">Sign Up/Sign In</a>
      </div>
    </div>
  </div>
</nav>
