<div class="container" *ngIf = "moment">
  <div class="col-xs-12 col-md-4">
    <h2>
      {{ moment.title }}
    </h2>
    <p>
      {{ moment.content }}
    </p>
    <small>@{{ moment.nickname }}</small>
    <br />
    <button class="btn"><i class="fa fa-heart"></i> {{ moment.likes }}</button>
    <button class="btn"><i class="fa fa-commenting"> {{ moment.comments }}</i></button>
  </div>
  <div class="hidden-xs col-sm-12 col-md-8">
    <app-conversation-panel></app-conversation-panel>
  </div>
</div>